body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  border: 0.5px solid;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px;
}
.list_lab {
  display: inline-flex;
  justify-content: space-between;
}

.header {
  background-color: rgb(6, 131, 131);
  width: 100%;
  padding: 25px;
  color: white;
}

.header-list {
  list-style: none;
  display: flex;
}
.header-list li {
  margin: 5px;
}
.header-link {
  font-style: none;
  outline-style: none;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(53, 52, 52);
  color: white;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}
.list_lab {
  margin-right: 25px;
}

.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-description {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  text-overflow: ellipsis;
  max-height: 1.2em;
}
